In [1]:
# Dependencies
import sqlite3
import pandas as pd
import numpy as np

In [2]:
# File to Load
tms_path = "../source/tms.csv"
gdp_path = "../source/gdp.csv"

In [3]:
# Read files and store into Pandas data frames
tms_df = pd.read_csv(tms_path)
gdp_df = pd.read_csv(gdp_path)

In [4]:
gdp_df = gdp_df.fillna(0)

In [5]:
tms_df = tms_df.fillna(0)

In [6]:
tms_df.head()

,name,code,1960,1961,1962,1963,1964,1965,1966,1967,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
1,Afghanistan,AFG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.518695e+08,2.981469e+08,3.258070e+08,2.385834e+08,2.171941e+08,2.682271e+08,1.995186e+08,1.858783e+08,1.914071e+08,1.980863e+08
2,Angola,AGO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.311193e+09,3.500795e+09,3.639496e+09,4.144635e+09,6.090752e+09,6.841864e+09,3.608299e+09,2.764055e+09,3.062873e+09,1.983614e+09
3,Albania,ALB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.827369e+08,1.858932e+08,1.970068e+08,1.832047e+08,1.800155e+08,1.781204e+08,1.323507e+08,1.308532e+08,1.443827e+08,1.804887e+08
4,Andorra,AND,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00

In [7]:
tms_df.dtypes

name     object
code     object
1960    float64
1961    float64
1962    float64
         ...
2014    float64
2015    float64
2016    float64
2017    float64
2018    float64
Length: 61, dtype: object

In [8]:
conn = sqlite3.connect('../db/military.sqlite')
gdp_df.to_sql('gdp', conn, if_exists='replace', index=False)
tms_df.to_sql('tms', conn, if_exists='replace', index=False)