In [1]:
# Dependencies
import sqlite3
import pandas as pd

In [2]:
# File to Load
gdp_path = "../source/gdp.csv"
tms_path = "../source/tms.csv"

In [3]:
# Read files and store into Pandas data frames
gdp_df = pd.read_csv(gdp_path)
tms_df = pd.read_csv(tms_path)

In [4]:
gdp_df.head()

,name,code,1960,1961,1962,1963,1964,1965,1966,1967,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.087413,1.945837,1.821346,1.175417,1.076950,1.298013,0.993455,0.955493,0.943963,0.984561
2,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.704389,4.177585,3.255660,3.236659,4.455239,4.698455,3.105426,2.733341,2.421113,1.777138
3,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.517217,1.558592,1.528266,1.487083,1.408982,1.346516,1.162304,1.101508,1.107551,1.178901
4,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
gdp_df.dtypes

name     object
code     object
1960    float64
1961    float64
1962    float64
         ...
2014    float64
2015    float64
2016    float64
2017    float64
2018    float64
Length: 61, dtype: object

In [8]:
conn = sqlite3.connect('../db/military.sqlite')
gdp_df.to_sql('gdp', conn, if_exists='replace', index=False)
tms_df.to_sql('tms', conn, if_exists='replace', index=False)