In [1]:
# Dependencies
import sqlite3
import pandas as pd

In [2]:
# File to Load
gdp_path = "../source/gdp.csv"
tms_path = "../source/tms.csv"

In [3]:
# Read files and store into Pandas data frames
gdp_df = pd.read_csv(gdp_path)
tms_df = pd.read_csv(tms_path)

In [4]:
gdp_df = gdp_df.fillna(0)

In [5]:
tms_df = gdp_df.fillna(0)

In [ ]:
gdp_df.head()

In [6]:
gdp_df["name"].count()

219

In [ ]:
gdp_redux_df = gdp_df.iloc[0].to_frame()

In [ ]:
gdp_redux_df.head()

In [ ]:
gdp_redux_df["name"] = gdp_redux_df.iloc[0][0]

In [ ]:
gdp_redux_df["code"] = gdp_redux_df.iloc[1][0]

In [ ]:
aruba_df = gdp_redux_df.drop(["name","code"])

In [ ]:
aruba_df = aruba_df.reset_index()

In [ ]:
aruba_df = aruba_df.rename(columns = {'index': 'date', 0: 'values'})

In [ ]:
aruba_df["date"] = aruba_df["date"].apply(lambda x: x+"-01-01")

In [7]:
countries_df = pd.DataFrame(
    {"date": ["1900-01-01"],
     "values": [0],
     "name": ["XXX"],
     "code": ["XXX"]     
     })

for i in range(219):
    gdp_redux_df = gdp_df.iloc[i].to_frame()
    gdp_redux_df["name"] = gdp_redux_df.iloc[0][i]
    gdp_redux_df["code"] = gdp_redux_df.iloc[1][i]
    df = gdp_redux_df.drop(["name","code"])
    df = df.reset_index()
    df = df.rename(columns = {'index': 'date', i: 'values'})
    df["date"] = df["date"].apply(lambda x: x+"-01-01")
    countries_df = countries_df.append(df)

In [8]:
countries_df

          date   values      name code
0   1900-01-01        0       XXX  XXX
0   1960-01-01        0     Aruba  ABW
1   1961-01-01        0     Aruba  ABW
2   1962-01-01        0     Aruba  ABW
3   1963-01-01        0     Aruba  ABW
..         ...      ...       ...  ...
54  2014-01-01  2.32473  Zimbabwe  ZWE
55  2015-01-01  2.34363  Zimbabwe  ZWE
56  2016-01-01  2.22073  Zimbabwe  ZWE
57  2017-01-01  1.93013  Zimbabwe  ZWE
58  2018-01-01  2.16961  Zimbabwe  ZWE

[12922 rows x 4 columns]